<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="#">Sklep</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Telefony<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Smartfony</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Telefony</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Tablety</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Czytniki e-booków</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Akcesoria</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Komputery<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Komputery</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Laptopy</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Podzespo&lstrok;y komputerowe</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Drukarki</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Gry i programy</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Akcesoria</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fotografia<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Lustrzanki</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Aparaty cyfrowe</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Obiektywy</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Kamery</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Drony</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Akcesoria</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RTV<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Telewizory</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">G&lstrok;o&sacute;niki</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Monitory</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">S&lstrok;uchawki</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Akcesoria</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AGD<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Lodówki i zamra&zdot;arki</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Kuchenki i piekarniki</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Pralki i suszarki</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Zmywarki</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Urz&aogon;dzenia kuchenne</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Akcesoria</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Szukaj">
                    </div>
                    <a type="submit" class="btn btn-default" href="#">
                        <span class="glyphicon-search glyphicon"/>
                    </a>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">
                        <span class="glyphicon-shopping-cart glyphicon"/>
                    </a></li>
                    <li><a href="#">
                        <span class="glyphicon-user glyphicon"/>
                        Zaloguj si&eogon;
                    </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

</body>
</html>